In [22]:
from bs4 import  BeautifulSoup
import requests
import pandas as pd
url="https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
page = requests.get(url)
soup = BeautifulSoup(page.text,"html")
#print(soup)
table = soup.find_all("table")
print(type(table))

table  = table[1]
#print(table)

headers = table.find_all("th")
#print(headers)

titles  = [titles.text.strip() for titles in headers]
#print(titles)
df = pd.DataFrame(columns= titles)

rows = table.find_all("tr")
for row in rows[1:]:
    data=row.find_all("td")
    row_data= [titles.text.strip() for titles in data]
    length = len(df)
    df.loc[length]=row_data

print(df)

df.to_csv("sdf.csv")
#print(df)

<class 'bs4.element.ResultSet'>
   Rank                      Name                    Industry  \
0     1                   Walmart                      Retail
1     2                    Amazon  Retail and cloud computing
2     3                ExxonMobil          Petroleum industry
3     4                     Apple        Electronics industry
4     5        UnitedHealth Group                  Healthcare
..  ...                       ...                         ...
95   96                  Best Buy                      Retail
96   97      Bristol-Myers Squibb     Pharmaceutical industry
97   98           United Airlines                     Airline
98   99  Thermo Fisher Scientific      Laboratory instruments
99  100                  Qualcomm                  Technology

   Revenue (USD millions) Revenue growth  Employees             Headquarters
0                 611,289           6.7%  2,100,000    Bentonville, Arkansas
1                 513,983           9.4%  1,540,000      Seattle, Washington
2                 413,680          44.8%     62,000            Spring, Texas
3                 394,328           7.8%    164,000    Cupertino, California
4                 324,162          12.7%    400,000    Minnetonka, Minnesota
..                    ...            ...        ...                      ...
95                 46,298          10.6%     71,100     Richfield, Minnesota
96                 46,159           0.5%     34,300  New York City, New York
97                 44,955          82.5%     92,795        Chicago, Illinois
98                 44,915          14.5%    130,000   Waltham, Massachusetts
99                 44,200          31.7%     51,000    San Diego, California

[100 rows x 7 columns]

In [2]:
from bs4 import  BeautifulSoup
import requests
import pandas as pd
url="https://en.wikipedia.org/wiki/List_of_largest_companies_in_India"
page = requests.get(url)
soup = BeautifulSoup(page.text,"html")
#print(soup)
table = soup.find_all("table")
print(type(table))

table  = table[1]
#print(table)

headers = table.find_all("th")
#print(headers)

titles  = [titles.text.strip() for titles in headers]
#print(titles)
df = pd.DataFrame(columns= titles)

rows = table.find_all("tr")
for row in rows[1:]:
    data=row.find_all("td")
    row_data= [titles.text.strip() for titles in data]
    length = len(df)
    df.loc[length]=row_data

print(df)

df.to_csv("sdf.csv")
#print(df)

<class 'bs4.element.ResultSet'>
   Rank                                    Name            Industry  \
0     1                  Indian Oil Corporation         Oil and gas
1     2             Reliance Industries Limited         Oil and gas
2     3         Oil and Natural Gas Corporation         Oil and gas
3     4                     State Bank of India             Banking
4     5                             Tata Motors          Automotive
5     6                        Bharat Petroleum         Oil and gas
6     7                     Hindustan Petroleum         Oil and gas
7     8                          Rajesh Exports  Gems and jewellery
8     9                              Tata Steel      Iron and steel
9    10                              Coal India   Metals and mining
10   11               Tata Consultancy Services            Infotech
11   12                         Larsen & Toubro       Capital goods
12   13                     Hindalco Industries   Metals and mining
13   14                              ICICI Bank             Banking
14   15                       Vedanta Resources   Metals and mining
15   16                               HDFC Bank             Banking
16   17                     Mahindra & Mahindra          Automotive
17   18                            NTPC Limited           Utilities
18   19                           Bharti Airtel   Telecommunication
19   20                     Maruti Suzuki India          Automotive
20   21                                 Infosys            Infotech
21   22                           Nayara Energy         Oil and gas
22   23                                    HDFC          Financials
23   24                           JSW Steel Ltd      Iron and steel
24   25                               Axis Bank             Banking
25   26                Steel Authority of India      Iron and steel
26   27                    Punjab National Bank             Banking
27   28                       Grasim Industries         Diversified
28   29                                   Wipro            Infotech
29   30                  Motherson Sumi Systems          Automotive
30   31                                    GAIL         Oil and gas
31   32                          Bank of Baroda             Banking
32   33                        HCL Technologies            Infotech
33   34                                    MRPL         Oil and gas
34   35                             Canara Bank             Banking
35   36                             ITC Limited      Consumer goods
36   37                           Bank of India             Banking
37   38  General Insurance Corporation of India           Insurance
38   39                     Kotak Mahindra Bank             Banking
39   40                     Union Bank of India             Banking
40   41                      Hindustan Unilever      Consumer goods
41   42                          Vodafone India   Telecommunication
42   43                              Tata Power           Utilities
43   44           Chennai Petroleum Corporation         Oil and gas
44   45                           Hero MotoCorp          Automotive
45   46                           Tech Mahindra            Infotech
46   47                        UltraTech Cement              Cement
47   48                            Petronet LNG         Oil and gas
48   49         Power Grid Corporation of India           Utilities
49   50                           Bajaj Finserv          Financials

   Revenue(in  ₹ Crore) Revenue growth Profits(in  ₹ Crore) Headquarters  \
0               424,321          13.2%               22,189    New Delhi
1               410,295          28.2%               36,075       Mumbai
2               333,143          11.0%               22,106    New Delhi
3               306,528           2.6%               −4,556       Mumbai
4               301,175           7.9%                8,989       Mumbai
5               238,638          13.7%                9,009       Mumbai
6               221,693          13.4%                7,218       Mumbai
7               187,748          22.5%                1,266    Bangalore
8               147,192          25.3%               13,434       Mumbai
9               132,897           5.3%                7,020      Kolkata
10              126,745           3.6%               25,826       Mumbai
11              122,743          10.6%                7,370       Mumbai
12              120,428          15.5%                6,083       Mumbai
13              118,969           4.9%                7,712       Mumbai
14              102,192          30.8%               10,342   London, UK
15              101,344          17.6%               18,510       Mumbai
16               96,377          12.2%                7,510       Mumbai
17               90,144           7.7%               10,544    New Delhi
18               86,704          13.0%                1,099    New Delhi
19               81,978          15.6%                7,880    New Delhi
20               73,762           3.1%               16,029    Bangalore
21               73,015          10.7%                  576       Mumbai
22               72,596          18.9%               16,255       Mumbai
23               70,148          22.6%                6,214       Mumbai
24               58,477           1.5%                  456       Mumbai
25               57,626          28.8%                 −281    New Delhi
26               57,608           0.7%              −12,130    New Delhi
27               57,273          54.9%                2,679       Mumbai
28               56,986           1.6%                8,003    Bangalore
29               56,839          32.7%                1,597        Noida
30               55,503          11.6%                4,799    New Delhi
31               54,048           3.1%               −1,887     Vadodara
32               51,695           6.3%                8,721        Noida
33               50,209           8.9%                1,993    Mangalore
34               48,743           1.2%               −3,951    Bangalore
35               44,674           1.6%               11,271      Kolkata
36               44,158           4.8%               −5,961       Mumbai
37               43,555          38.9%                3,146       Mumbai
38               38,813          14.2%                6,201       Mumbai
39               38,413           0.4%               −5,212       Mumbai
40               36,088           7.1%                5,214       Mumbai
41               34,855          18.9%                7,766       Mumbai
42               33,213          12.8%                2,477       Mumbai
43               33,187          20.0%                  927      Chennai
44               33,141          12.9%                3,720    New Delhi
45               32,190           7.6%                3,800         Pune
46               32,106          23.7%                2,222       Mumbai
47               30,949          23.9%                2,110    New Delhi
48               30,908          16.1%                8,198      Gurgaon
49               30,599          24.9%                2,741         Pune

   State Controlled
0               Yes
1
2               Yes
3               Yes
4
5               Yes
6               Yes
7
8
9               Yes
10
11
12
13
14
15
16
17              Yes
18
19
20
21
22
23
24              Yes
25              Yes
26              Yes
27
28
29
30              Yes
31              Yes
32
33              Yes
34              Yes
35
36              Yes
37              Yes
38
39              Yes
40
41
42
43              Yes
44
45
46
47              Yes
48              Yes
49